.md_configs.data
.me_configs.data
sync_changes.log
sync_hook.script
.sync/*
.z_sync_configs.data
**/.Archive
**/.idea
*.iml
.vscode
target/
*.pyc
code/lang-base/src/main/java/com/asisinfo/ds/*
code/o.dat
code/test.txt
code/classes/*
distributeor/src/main/resources/ai-event.properties
amappoidata.log
code/myfood/poidata/
code/data/social_circle_sample.data
