.md_configs.data
.me_configs.data
sync_changes.log
sync_hook.script
.sync/*
.z_sync_configs.data
**/.Archive
**/.idea
*.iml
target/


code/lang-base/src/main/java/com/asisinfo/ds/*
code/o.dat
code/test.txt
